// FONTS 
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
$mainContent: #161616;
$mainMenu: #0268C7;
$footerBottom: #262626;
$footerLink: #777777;
$activeMenu: #0268C7;
$bottomLink:#0268C7;